---
title: Principal
---

<a id="main-title" href="{{ " /" | relative_url }}">
    <img src="{{ " /assets/images/art/name.png" | relative_url }}" alt="ABC 360">
    <figcaption>Por todos os lados, direto para você!</figcaption>
</a>

{% include highlights.html %}

<div id="middle">
    <div id="main-column">
        <div id="latest-container">
            <h2>
                Últimas
            </h2>
            <div id="latest">
                {% assign articles = site.news | sort: 'date' | reverse %}
                {% for article in articles limit:12 %}
                <a id="article" href="{{ article.url | relative_url }} ">
                    <div class="thumb-container">
                        <img class="thumb" src="{{article.image-url | relative_url}}" alt="">
                    </div>
                    <figcaption>{{ article.title }}</figcaption>
                    <figcaption class="timestamp">{{ article.date | date: "%d/%m/%Y %H:%M" }}</figcaption>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include ad-column.html %}
</div>