<style>
    
    #side-column {
    }
    .ad{
        margin-bottom: 2rem;
        border: -1px solid black;
        aspect-ratio: 16/9;
        display: flex;
        align-items: center;
        background-color: gainsboro;
    }
    .ad>img{
        font-size: xx-large;
    }
</style>


<div id="side-column">
    <!-- <h2 id="ad-title">
        Patrocinio
    </h2> -->
    <a class="ad" id="ad1" href="https://wa.me/+5511959963937?text=Estou Interessado em divulgar meu produto no seu site.">
        <img src="" alt="Divulgue aqui">
    </a>
</div>