<style>
    
    #side-column {

    }
    .ad{
        margin-block: var(--padding-size);
        aspect-ratio: 16/9;
        display: flex;
        align-items: center;
        background-color: gainsboro;
    }
    #ad-column>*>img{
        font-size: xx-large;
        text-align: center;
    }

</style>


<div id="ad-column">
    <!-- <h2 id="ad-title">
        Patrocinio
    </h2> -->
    <a class="ad" id="ad1" href="https://rommelwerneck.com/">
        <img class="ad-img" src="/assets/images/ads/livro 16 9.jpeg" alt="Invocando Dragões">
    </a>

    <a class="ad" id="ad2" href="https://wa.me/+5511959963937?text=Estou Interessado em divulgar meu produto no seu site.">
        <img class="ad-img" src="" alt="Divulgue aqui">
    </a>
</div>