<style>
    footer{
        background-color: #015F83;
        color: white;
        font-size: small;
        display: flex; /* fix colapsing margins */
    }

    #footer-inner {
        width: 100%;
        margin: var(--space);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .footer-column{
        display: flex;
        flex-direction: column;
    }

    .footer-column>*{
        padding: 16px;
    }
    
    .contact>*{
        display: inline;
    }
</style>


<footer>
    <div id="footer-inner">
        <div class="footer-column" id="footer1">
            <h3>
                INSTITUCIONAL
            </h3>
            <a href="{{ "/" | relative_url}}">Página Inicial</a>
            <a href="{{ "/quem-somos.html" | relative_url}}">Quem Somos</a>
            <a href="{{ "/nosso-time.html" | relative_url}}">Nosso Time</a>
        </div>
        <div class="footer-column" id="footer2">
            <h3>
                FALE CONOSCO
            </h3>
            <div class="contact">
                <p> contato@abc360.com.br</p>
                <p class="fa fa-envelope"></p>
            </div>
            <a href="https://wa.me/+5511959963937" class="contact">
                <p>(11) 95996-3937</p>
                <p class="fa fa-whatsapp"></p>
            </a>
            <a href="https://www.instagram.com/abc360noticias/" class="contact">
                <p>@abc360noticias</p>
                <p class="fa fa-instagram"></p>
            </a>
            <a href="https://www.facebook.com/abc360noticias/" class="contact">
                <p>@abc360noticias</p>
                <p class="fa fa-facebook"></p>
            </a>
        </div>
    </div>
</footer>