<style>
    footer{
        background-color: #015F83;
        color: white;
        font-size: small;
        display: flex; /* fix colapsing margins */
    }

    #footer-inner {
        width: 100%;
        margin-inline: var(--space);
        margin-block: calc(0.5 * var(--space));
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .footer-column{
        display: flex;
        flex-direction: column;
    }

    .footer-column>*{
        padding-block: calc(0.5 * var(--padding-size));
        padding-inline: var(--padding-size);
    }
    
    .contact>*{
        display: inline;
    }

    @media only screen and (min-device-width: 480px){
        #footer-inner{
            justify-content: space-between;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        #footer1>*{
            text-align: left;
        }

        #footer2>*{
            text-align: right;
            display: block;
        }
    }
</style>


<footer>
    <div id="footer-inner">
        <div class="footer-column" id="footer1">
            <h3>
                INSTITUCIONAL
            </h3>
            {% for item in site.data.urls %}
                <a href="{{ item.url | relative_url }}">{{item.name}}</a>
            {% endfor %}
        </div>
        <div class="footer-column" id="footer2">
            <h3>
                FALE CONOSCO
            </h3>
            <div class="contact">
                <p> contato@abc360.com.br</p>
                <p class="fa fa-envelope"></p>
            </div>
            <a href="https://wa.me/+5511959963937" class="contact">
                <p>(11) 95996-3937</p>
                <p class="fa fa-whatsapp"></p>
            </a>
            <a href="https://www.instagram.com/abc360noticias/" class="contact">
                <p>@abc360noticias</p>
                <p class="fa fa-instagram"></p>
            </a>
            <a href="https://www.facebook.com/abc360noticias/" class="contact">
                <p>@abc360noticias</p>
                <p class="fa fa-facebook"></p>
            </a>
        </div>
    </div>
</footer>