<style>
    .highlights {
        overflow: hidden;
        width: 100%;
        aspect-ratio: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .highlights-inner {
        width: 200%;
        display: grid;
        grid-template-columns: 100% 100% 100% 100%;
        align-items: center;
    }

    .highlight {
        width: 100%;
        position: relative;
    }

    .highlight-info {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        text-align: left;
        color: white;
        left: 84px;
        width: calc(50% - 84px);

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: left;
    }

    .highlight-title {
        text-align: left;
        font-size: 57px;
        font-weight: 700;
        color: white;
        max-height: 50%;
    }

    .highlight-date {
        color: rgba(255, 255, 255, 0.5);
    }

    .dot-container {
        display: inline;
    }

    .highlights-dots {
        margin-top: 20px;
    }

    .highlights-dot {
        border-radius: 50%;
        background-color: gray;
        width: 8px;
        height: 8px;
        margin: 2px;
    }

    .highlights-dot:hover {
        cursor: pointer;
    }

    .current-highlight {
        background-color: black;
    }
</style>

<div class="highlights">
    <div class="highlights-inner">
        {% assign highlights = site.news | reverse | where: 'highlight', true %}

        {% for n in highlights limit:4 %}

        {% if n.highlight == true %}
        <div class="highlight">
            <a class="highlight-info" href="{{n.url}}">
                <h1 class="highlight-title">{{n.name | remove: ".md"}}</h1>
                <figcaption class="highlight-date">{{ n.date | date: "%d/%m/%Y %H:%M" }}</figcaption>
            </a>
            <div class="highlight-img-container">
                <img class="highlight-img" src="/assets/images/news/{{n.title}}.jpg">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="highlights-dots">
    <input id="first-dot" class="highlights-dot" type="button">
    <input id="secound-dot" class="highlights-dot" type="button">
    <input id="third-dot" class="highlights-dot" type="button">
    <input id="fourth-dot" class="highlights-dot" type="button">
</div>

<script>
    const intervalAmount = 10000;
    var currentHighlight = 0;
    const highlights = document.querySelector(".highlights");
    const dots = [
        document.querySelector("#first-dot"),
        document.querySelector("#secound-dot"),
        document.querySelector("#third-dot"),
        document.querySelector("#fourth-dot"),
    ];

    function scrollTo(highlightNumber) {
        currentHighlight = highlightNumber;
        const x = (highlights.scrollWidth / 4) * highlightNumber;
        const y = (0);
        const options = {
            left: x,
            top: y,
            behavior: "smooth"
        }

        highlights.scroll(options);
        dots.forEach(dot => {
            dot.classList.remove("current-highlight");
        });
        dots[highlightNumber].classList.add("current-highlight");
    }

    dots[0].addEventListener("click", () => { scrollTo(0); restartHighlightloop();});
    dots[1].addEventListener("click", () => { scrollTo(1); restartHighlightloop();});
    dots[2].addEventListener("click", () => { scrollTo(2); restartHighlightloop();});
    dots[3].addEventListener("click", () => { scrollTo(3); restartHighlightloop();});
    scrollTo(0);

    function nextHighlight() {
        scrollTo((currentHighlight + 1) % 4);
    }

    var timeOutCode;
    function highlightLoop() {
        timeOutCode = setTimeout(highlightLoop, intervalAmount);
        nextHighlight();
    }
    function restartHighlightloop(){
        stopHighlightloop();
        timeOutCode = setTimeout(highlightLoop, intervalAmount);
    }
    function stopHighlightloop(){
        clearTimeout(timeOutCode);
    }
    restartHighlightloop();

    window.addEventListener("resize", () => { scrollTo(currentHighlight) });
</script>