<style>
    .highlights {
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1.6;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .highlights-inner {
        width: 200%;
        display: grid;
        grid-template-columns: 100% 100% 100% 100%;
        align-items: center;
    }

    .highlights-side-button{
        position: absolute;
        width: calc(var(--space));
        height: 100vw;
        z-index: 1;
        text-align: center;
        
        font-size: 32px;
        color: rgba(255, 255, 255, 0.1);
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .highlights-side-button:hover{
        text-shadow: 0px 0px 8px black;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
        
    }

    #highlights-left{
        left:0px;
    }

    #highlights-right{
        right:0px;
    }

    .highlight {
        width: 100%;
        position: relative;
    }

    .highlight-info {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        text-align: left;
        color: white;
        left: var(--space);
        width: 50%;
        padding: 16px;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: left;
    }

    .highlight-title {
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        color: white;
        max-height: 50%;
        text-shadow: 0px 0px 8px black;
    }

    .highlight-date {
        color: rgba(255, 255, 255, 0.5);
        text-shadow: 0px 0px 1px black;
        font-size: 12px;
    }

    .dot-container {
        display: inline;
    }

    .highlights-dots {
        margin-block: 16px;
    }

    .highlights-dot {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 12px;
        height: 12px;
        margin: 4px;
    }

    .highlights-dot:hover {
        cursor: pointer;
    }

    .current-highlight {
        background-color: black;
    }

    @media only screen and (min-device-width: 480px){
        .highlight-title{
            font-size: 32px;
        }
    }
</style>

<div class="highlights">
    <div type="button" id="highlights-left" class="highlights-side-button fa fa-chevron-left"> </div>
    <div type="button" id="highlights-right" class="highlights-side-button fa fa-chevron-right"> </div>
    <div class="highlights-inner">
        {% assign highlights = site.news | reverse | where: 'highlight', true %}

        {% for n in highlights limit:4 %}

        {% if n.highlight == true %}
        <div class="highlight">
            <a class="highlight-info" href="{{n.url | relative_url }}">
                <h1 class="highlight-title">{{ n.title }}</h1>
                <figcaption class="highlight-date">{{ n.date | date: "%d/%m/%Y %H:%M" }}</figcaption>
            </a>
            <div class="highlight-img-container">
                {% capture cur_img_url %}/assets/images/news/{{n.title}}.jpg{% endcapture %}
                <img class="highlight-img" src="{{ n.image-url | relative_url }}">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="highlights-dots">
    <input id="first-dot" class="highlights-dot" type="button">
    <input id="secound-dot" class="highlights-dot" type="button">
    <input id="third-dot" class="highlights-dot" type="button">
    <input id="fourth-dot" class="highlights-dot" type="button">
</div>

<script>
    const intervalAmount = 2000;
    var currentHighlight = 0;
    const highlights = document.querySelector(".highlights");
    const dots = [
        document.querySelector("#first-dot"),
        document.querySelector("#secound-dot"),
        document.querySelector("#third-dot"),
        document.querySelector("#fourth-dot"),
    ];
    const leftButton = document.querySelector("#highlights-left");
    const rightButton = document.querySelector("#highlights-right");

    // var prevScrollTimeStamp = 0;
    function scrollTo(highlightNumber) {
        // var now = Date.now();
        // console.log(now - prevScrollTimeStamp);
        // prevScrollTimeStamp = now;

        highlightNumber = highlightNumber % 4;
        if (highlightNumber < 0) {
            highlightNumber = 4 + highlightNumber;
        }
        currentHighlight = highlightNumber;
        const x = (highlights.scrollWidth / 4) * highlightNumber;
        const y = (0);
        const options = {
            left: x,
            top: y,
            behavior: "smooth"
        }

        highlights.scroll(options);
        dots.forEach(dot => {
            dot.classList.remove("current-highlight");
        });
        dots[highlightNumber].classList.add("current-highlight");

        leftButton.style.left = `${x}px`;
        rightButton.style.right = `${-x}px`;

        restartHighlightloop();
    }

    dots[0].addEventListener("click", () => { scrollTo(0); });
    dots[1].addEventListener("click", () => { scrollTo(1); });
    dots[2].addEventListener("click", () => { scrollTo(2); });
    dots[3].addEventListener("click", () => { scrollTo(3); });
    scrollTo(0);

    function nextHighlight() {
        scrollTo(currentHighlight + 1);
    }
    function prevHighlight() {
        scrollTo(currentHighlight - 1);
    }

    leftButton.addEventListener("click", prevHighlight);
    rightButton.addEventListener("click", nextHighlight);

    var timeOutCode;

    function highlightLoop() {
        timeOutCode = setTimeout(highlightLoop, intervalAmount);
        nextHighlight();
    }
    
    function restartHighlightloop(){
        stopHighlightloop();
        timeOutCode = setTimeout(highlightLoop, intervalAmount);
    }
    function stopHighlightloop(){
        clearTimeout(timeOutCode);
    }
    restartHighlightloop();

    window.addEventListener("resize", () => { scrollTo(currentHighlight) });
</script>