:root {
    --space: 32px;
    --padding-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    font-size: larger;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", Sans-serif;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}