---
layout: default
---

<style>
    #columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    #news *{
        text-align: left;
    }

    #news > *{
        margin-inline: var(--space);
        padding: var(--padding-size);
    }

    #news-img-container {
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        display: grid;
        grid-auto-columns: 1fr;
        align-items: center;
        justify-content: center;
        align-content: center;
        
        margin: 0px;    /* ovveride */
        padding: 0px;    /* ovveride */
    }

    #news-info>*>*{
        display: inline;
    }

    #news-body{
        display: grid;
        gap: 1.5rem;
    }
</style>




<div id="columns">
    <div id="news">
        <div id="news-img-container">
            <img src="{{page.image-url | relative_url}}" alt="">
        </div>
        <h1>
            {{page.title}}
        </h1>
        <div id="news-info">
            <div>
                <p class="fa fa-user-circle-o"></p>
                <p>
                    {{page.author}}
                </p>
            </div>
            <div>
                <p class="fa fa-calendar"></p>
                <p>
                    {{ page.date | date_to_long_string }}
                </p>
            </div>
            <div>
                <p class="fa fa-clock-o"></p>
                <p>
                    {{ page.date | date: "%H:%M" }}
                </p>
            </div>
            <div>
                <p class="fa fa-search"></p>
                <p>
                    {{ page.image-source }}
                </p>
            </div>

        </div>
        <div id="news-body">
            {{ content }}
        </div>
    </div>
    {% include ad-column.html %}
</div>