---
layout: default
---

<style>

    #news{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        gap: var(--padding-size);
        margin-bottom: var(--padding-size);
    }

    #news *{
        text-align: left;
    }

    #news > *{
        margin-inline: var(--space);
        padding-inline: var(--padding-size);

    }

    #news-img-container {
        aspect-ratio: 16/9;
        overflow: hidden;
        display: grid;
        grid-auto-columns: 1fr;
        align-items: center;
        justify-content: center;
        align-content: center;
        
        margin: 0px;    /* ovveride */
        padding: var(--padding-size);    
    }

    #news-info *{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.75);
    }
    
    #news-info>*>*{
        display: inline;
    }
    
    #news-body{
        display: grid;
        gap: var(--padding-size)
    }
    
    @media only screen and (min-device-width: 640px){
        #news-img-container{
            margin-inline: var(--space);
        }

        #news-info>*{
            display: inline;
            margin-right: 16px;
        }

        #news-content{
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: calc(var(--padding-size) * 3);
        }
    }
</style>


<div id="news">
    <div id="news-img-container">
        <img src="{{page.image-url | relative_url}}" alt="">
    </div>
    <div id="news-head">
        <h1>
            {{page.title}}
        </h1>
        <div id="news-info">
            <div>
                <p class="fa fa-user-circle-o"></p>
                <p>
                    {{page.author}}
                </p>
            </div>
            <div>
                <p class="fa fa-calendar"></p>
                <p>
                    {{ page.date | date_to_long_string }}
                </p>
            </div>
            <div>
                <p class="fa fa-clock-o"></p>
                <p>
                    {{ page.date | date: "%H:%M" }}
                </p>
            </div>
            <div>
                <p class="fa fa-picture-o"></p>
                <p>
                    {{ page.image-source }}
                </p>
            </div>
            
        </div>
    </div>
    <div id="news-content">
        <div id="news-body">
            {{ content }}
        </div>
        {% include ad-column.html %}
    </div>
</div>